@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.58 0.22 27);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.87 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

.amethyst-haze {
    --background: oklch(0.9777 0.0041 301.4256);
    --foreground: oklch(0.3651 0.0325 287.0807);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3651 0.0325 287.0807);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3651 0.0325 287.0807);
    --primary: oklch(0.6104 0.0767 299.7335);
    --primary-foreground: oklch(0.9777 0.0041 301.4256);
    --secondary: oklch(0.8957 0.0265 300.2416);
    --secondary-foreground: oklch(0.3651 0.0325 287.0807);
    --muted: oklch(0.8906 0.0139 299.7754);
    --muted-foreground: oklch(0.5288 0.0375 290.7895);
    --accent: oklch(0.7889 0.0802 359.9375);
    --accent-foreground: oklch(0.3394 0.0441 1.7583);
    --destructive: oklch(0.6332 0.1578 22.6734);
    --destructive-foreground: oklch(0.9777 0.0041 301.4256);
    --border: oklch(0.8447 0.0226 300.1421);
    --input: oklch(0.9329 0.0124 301.2783);
    --ring: oklch(0.6104 0.0767 299.7335);
    --chart-1: oklch(0.6104 0.0767 299.7335);
    --chart-2: oklch(0.7889 0.0802 359.9375);
    --chart-3: oklch(0.7321 0.0749 169.867);
    --chart-4: oklch(0.854 0.0882 76.8292);
    --chart-5: oklch(0.7857 0.0645 258.0839);
    --sidebar: oklch(0.9554 0.0082 301.3541);
    --sidebar-foreground: oklch(0.3651 0.0325 287.0807);
    --sidebar-primary: oklch(0.6104 0.0767 299.7335);
    --sidebar-primary-foreground: oklch(0.9777 0.0041 301.4256);
    --sidebar-accent: oklch(0.7889 0.0802 359.9375);
    --sidebar-accent-foreground: oklch(0.3394 0.0441 1.7583);
    --sidebar-border: oklch(0.8719 0.0198 302.169);
    --sidebar-ring: oklch(0.6104 0.0767 299.7335);
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 1px;
    --shadow-y: 2px;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-opacity: 0.06;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-sm:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow-md:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
    --shadow-lg:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
    --shadow-xl:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06),
        1px 8px 10px 0px hsl(0 0% 0% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.bubblegum {
    --background: oklch(0.9399 0.0203 345.6985);
    --foreground: oklch(0.4712 0 0);
    --card: oklch(0.9498 0.05 86.8891);
    --card-foreground: oklch(0.4712 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.4712 0 0);
    --primary: oklch(0.6209 0.1801 348.1385);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8095 0.0694 198.1863);
    --secondary-foreground: oklch(0.3211 0 0);
    --muted: oklch(0.88 0.0504 212.0952);
    --muted-foreground: oklch(0.5795 0 0);
    --accent: oklch(0.9195 0.0801 87.667);
    --accent-foreground: oklch(0.3211 0 0);
    --destructive: oklch(0.7091 0.1697 21.9551);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.6209 0.1801 348.1385);
    --input: oklch(0.9189 0 0);
    --ring: oklch(0.7002 0.1597 350.7532);
    --chart-1: oklch(0.7002 0.1597 350.7532);
    --chart-2: oklch(0.8189 0.0799 212.0892);
    --chart-3: oklch(0.9195 0.0801 87.667);
    --chart-4: oklch(0.7998 0.111 348.1791);
    --chart-5: oklch(0.6197 0.1899 353.9091);
    --sidebar: oklch(0.914 0.0424 343.0913);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.6559 0.2118 354.3084);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8228 0.1095 346.0184);
    --sidebar-accent-foreground: oklch(0.3211 0 0);
    --sidebar-border: oklch(0.9464 0.0327 307.1745);
    --sidebar-ring: oklch(0.6559 0.2118 354.3084);
    --font-sans: Poppins, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.4rem;
    --shadow-x: 3px;
    --shadow-y: 3px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-sm:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-md:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 2px 4px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-lg:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 4px 6px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-xl:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 8px 10px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 2.5);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
